<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}"/>

  <title>FlaskWeather</title>
</head>
<body>
  <div id="request">
    <h1><i>THE weather today</i></h1>
    <form method="post" enctype="multipart/form-data" action="/">
      <input type="text" name="country" id="country" placeholder="City"/>
      <input type="text" name="code" id="code" placeholder="Code"/>
      <input type="submit" id="submitBtn" value="Send"/>
    </form>
  </div>

  <br>

  <div id="text">
    <h1>{{country}}</h1>
    <p>{{desc}}</p>
    <p>{{temp}}</p>
    <p>{{pressure}}</p>
    <p>{{wind}}</p>
    <p>{{time}}</p>
  </div>

  <br>

  {% if cities != [] %}
  <div id="other">
    <h1>Surrounding Cities:</h1>
    {% for city in cities %}
    <p><i>{{city.name}}</i></p>
    <p>Description: {{city.desc}}</p>
    <p>Temperature: {{city.temp}} Celsius, but feels like {{city.tempFeel}} Celsius</p>
    <p>Pressure of {{city.pressure}} kPa, with a humidity of {{city.humidity}}%</p>
    <p>Wind speeds of {{city.wind}} km/h</p>
    <br>
    {% endfor %}
  </div>
  {% endif %}

</body>
</html>